body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.btnfullwindowwidth{
  font-size: 10px;
  padding : 10px 10px;
  width : 100%;
  text-align:left;
}

.aplhaBtn{
  background-color:royalblue;
  display :ruby;
  height : 50px;
  width : 50px;
  border-radius : 50%;
  border :salmon;
}